

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(137, 192, 194);
}

header {
    background-color: rgb(133, 133, 133);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-area: header;

    border: 2px solid red;
}

main {
    background-color: rgb(163, 241, 163);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-area: main;

    border: 2px solid blue;
}

aside {
    background-color: rgb(245, 208, 115);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-area: aside;

    border: 2px solid green;
}

footer {
    background-color: rgb(188, 131, 241);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-area: footer;

    border: 2px solid yellow;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    /* grid-gap: 20px 50px; espaço entre linha e coluna*/
    /* grid-row-gap: 80px; */
    /* grid-column-gap: 30px; */
    grid-template-areas: "header header" "main aside" "footer footer";

    border: 5px solid black;
}